body {
 background: #ffffff;
background: linear-gradient(177deg, rgba(255, 255, 255, 1) 0%, rgba(211, 138, 222, 0.18) 71%);

  background-size: cover;
  min-height: 100vh;
}

a.active {
   color: rgb(0, 0, 0);
   
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
