body {
 background:  linear-gradient(135deg, #fdf6f6 0%, #e0e7ff 100%);
  background-size: cover;
  min-height: 100vh;
}

a.active {
   color: rgb(0, 0, 0);
   
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
